In [ ]:
{
 "cells": [
  {
   "cell_type": "code",
   "execution_count": 44,
   "id": "fb1edc3f-6f50-4087-a7b4-a86d57e64b30",
   "metadata": {},
   "outputs": [],
   "source": [
    "import pandas as pd\n",
    "import numpy as np"
   ]
  },
  {
   "cell_type": "markdown",
   "id": "ca497ee4-d7ed-4fcf-8df2-b7f0da3e6a58",
   "metadata": {},
   "source": [
    "## Reading files"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 84,
   "id": "0a389ee7-7fa2-4523-95ea-1f45ae4ac6f8",
   "metadata": {},
   "outputs": [],
   "source": [
    "wh2018 = pd.read_csv('2018_v2.csv')\n",
    "wh2019 = pd.read_csv('2019_v2.csv')"
   ]
  },
  {
   "cell_type": "markdown",
   "id": "72f1cf5f-7cc4-4dfa-9dc8-51105a51d652",
   "metadata": {},
   "source": [
    "Adding extra column to identify year of population"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 85,
   "id": "ec21e6da-422e-4a8e-8aac-e601e30b89dd",
   "metadata": {},
   "outputs": [],
   "source": [
    "wh2018['year'] = 2018\n",
    "wh2019['year'] = 2019"
   ]
  },
  {
   "cell_type": "markdown",
   "id": "e3fdff02-1732-477b-a78b-f97aea07b013",
   "metadata": {},
   "source": [
    "Union of three files"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 86,
   "id": "ab6d0ee5-911c-4d6f-8889-058467e7015a",
   "metadata": {},
   "outputs": [],
   "source": [
    "wh = pd.concat([wh2018,wh2019])"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 87,
   "id": "54d33b78-43e1-4904-92b0-485e8d2abefa",
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "Index(['Overall rank', 'Country or region', 'Score', 'GDP per capita',\n",
       "       'Social support', 'Healthy life expectancy',\n",
       "       'Freedom to make life choices', 'Generosity',\n",
       "       'Perceptions of corruption', 'year'],\n",
       "      dtype='object')"
      ]
     },
     "execution_count": 87,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "wh.columns"
   ]
  },
  {
   "cell_type": "markdown",
   "id": "fe6f96ee-b677-442e-b1f7-8d2617200937",
   "metadata": {},
   "source": [
    "## Ejercicios\n",
    "\n",
    "1. Partiendo de Wh, realice un analisis de valores nulos. que porcentaje de valores nulos se encuentran en cada columna por anio. presente el analisis en un dataframe"
   ]
  },
  {
   "cell_type": "markdown",
   "id": "fac6f6e3-8f5a-48bb-9a06-632757c857be",
   "metadata": {},
   "source": [
    "Ejemplo:"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 88,
   "id": "748a8b4c-85aa-4cff-96a3-61bcf2a8e466",
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>year</th>\n",
       "      <th>column</th>\n",
       "      <th>percentage.of.nans</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>2017</td>\n",
       "      <td>Happiness.Rank</td>\n",
       "      <td>0.2</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1</th>\n",
       "      <td>2017</td>\n",
       "      <td>Whisker.low</td>\n",
       "      <td>0.2</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ],
      "text/plain": [
       "   year          column  percentage.of.nans\n",
       "0  2017  Happiness.Rank                 0.2\n",
       "1  2017     Whisker.low                 0.2"
      ]
     },
     "execution_count": 88,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "pd.DataFrame({\n",
    "    \"year\": [2017,2017]\n",
    "    , \"column\" : [\"Happiness.Rank\",\"Whisker.low\"]\n",
    "    , \"percentage.of.nans\" : [0.2,0.2]\n",
    "})"
   ]
  },
  {
   "cell_type": "markdown",
   "id": "ad19d0f9-2980-4411-9166-3760db06212f",
   "metadata": {},
   "source": [
    "### resolucion ejercicio uno"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 89,
   "id": "30cb5d65-87c4-4b2e-b7b8-ba1f19f3a860",
   "metadata": {},
   "outputs": [],
   "source": [
    "result = pd.DataFrame()"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 90,
   "id": "e99d9148-31d5-4564-be5e-aef7a61765ef",
   "metadata": {},
   "outputs": [],
   "source": [
    "for year_ in wh.loc[ : , \"year\" ].drop_duplicates():\n",
    "    wh_year = wh.loc[ wh['year'] == year_ , : ]    \n",
    "    for column_ in wh_year.columns:        \n",
    "        percentage =  np.sum(pd.isna( wh_year.loc[ : , column_ ]  )) / wh_year.shape[0]\n",
    "        dfrow = pd.DataFrame({\n",
    "            'year': [ year_ ]\n",
    "            , 'column' : [ column_ ]\n",
    "            , 'percentage.of.nans' : [ percentage ]\n",
    "        })\n",
    "        result = pd.concat([result, dfrow])"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 91,
   "id": "eaad93fb-37dd-4bd3-b2a0-ed91d1c43b7d",
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>year</th>\n",
       "      <th>column</th>\n",
       "      <th>percentage.of.nans</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>2018</td>\n",
       "      <td>Overall rank</td>\n",
       "      <td>0.000000</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>2018</td>\n",
       "      <td>Country or region</td>\n",
       "      <td>0.000000</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>2018</td>\n",
       "      <td>Score</td>\n",
       "      <td>0.032051</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>2018</td>\n",
       "      <td>GDP per capita</td>\n",
       "      <td>0.057692</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>2018</td>\n",
       "      <td>Social support</td>\n",
       "      <td>0.096154</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>2018</td>\n",
       "      <td>Healthy life expectancy</td>\n",
       "      <td>0.076923</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>2018</td>\n",
       "      <td>Freedom to make life choices</td>\n",
       "      <td>0.076923</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>2018</td>\n",
       "      <td>Generosity</td>\n",
       "      <td>0.108974</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>2018</td>\n",
       "      <td>Perceptions of corruption</td>\n",
       "      <td>0.044872</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>2018</td>\n",
       "      <td>year</td>\n",
       "      <td>0.000000</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>2019</td>\n",
       "      <td>Overall rank</td>\n",
       "      <td>0.000000</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>2019</td>\n",
       "      <td>Country or region</td>\n",
       "      <td>0.000000</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>2019</td>\n",
       "      <td>Score</td>\n",
       "      <td>0.089744</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>2019</td>\n",
       "      <td>GDP per capita</td>\n",
       "      <td>0.019231</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>2019</td>\n",
       "      <td>Social support</td>\n",
       "      <td>0.006410</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>2019</td>\n",
       "      <td>Healthy life expectancy</td>\n",
       "      <td>0.089744</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>2019</td>\n",
       "      <td>Freedom to make life choices</td>\n",
       "      <td>0.070513</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>2019</td>\n",
       "      <td>Generosity</td>\n",
       "      <td>0.025641</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>2019</td>\n",
       "      <td>Perceptions of corruption</td>\n",
       "      <td>0.038462</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>2019</td>\n",
       "      <td>year</td>\n",
       "      <td>0.000000</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ],
      "text/plain": [
       "   year                        column  percentage.of.nans\n",
       "0  2018                  Overall rank            0.000000\n",
       "0  2018             Country or region            0.000000\n",
       "0  2018                         Score            0.032051\n",
       "0  2018                GDP per capita            0.057692\n",
       "0  2018                Social support            0.096154\n",
       "0  2018       Healthy life expectancy            0.076923\n",
       "0  2018  Freedom to make life choices            0.076923\n",
       "0  2018                    Generosity            0.108974\n",
       "0  2018     Perceptions of corruption            0.044872\n",
       "0  2018                          year            0.000000\n",
       "0  2019                  Overall rank            0.000000\n",
       "0  2019             Country or region            0.000000\n",
       "0  2019                         Score            0.089744\n",
       "0  2019                GDP per capita            0.019231\n",
       "0  2019                Social support            0.006410\n",
       "0  2019       Healthy life expectancy            0.089744\n",
       "0  2019  Freedom to make life choices            0.070513\n",
       "0  2019                    Generosity            0.025641\n",
       "0  2019     Perceptions of corruption            0.038462\n",
       "0  2019                          year            0.000000"
      ]
     },
     "execution_count": 91,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "result"
   ]
  },
  {
   "cell_type": "markdown",
   "id": "76ceb543-1b4f-4a5f-9584-27259f6f4bb7",
   "metadata": {},
   "source": [
    "2. partiendo de Wh, por año muestre un resumen de todas las columnas.\n",
    "\n",
    "nota: aunque solo tenemos tres años, que pasaria si en nuestro dataframe tenemos 20 años? resuelva su ejercicio lo mas dinamico que se pueda\n",
    "\n",
    "### resolucion ejercicio dos"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 92,
   "id": "e6fb519a-7711-4c0f-ac76-0482a5c6c339",
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "YEAR: 2018\n",
      "       Overall rank       Score  GDP per capita  Social support  \\\n",
      "count    156.000000  151.000000      147.000000      141.000000   \n",
      "mean      78.500000    5.354060        0.892748        1.205915   \n",
      "std       45.177428    1.109532        0.399153        0.306070   \n",
      "min        1.000000    2.905000        0.000000        0.000000   \n",
      "25%       39.750000    4.451500        0.598500        1.047000   \n",
      "50%       78.500000    5.358000        0.940000        1.258000   \n",
      "75%      117.250000    6.154000        1.214500        1.462000   \n",
      "max      156.000000    7.632000        2.096000        1.592000   \n",
      "\n",
      "       Healthy life expectancy  Freedom to make life choices  Generosity  \\\n",
      "count               144.000000                    144.000000  139.000000   \n",
      "mean                  0.597576                      0.456514    0.181360   \n",
      "std                   0.250700                      0.162312    0.099147   \n",
      "min                   0.000000                      0.000000    0.000000   \n",
      "25%                   0.413750                      0.355750    0.115000   \n",
      "50%                   0.651000                      0.487000    0.173000   \n",
      "75%                   0.782000                      0.580000    0.234000   \n",
      "max                   1.030000                      0.724000    0.598000   \n",
      "\n",
      "       Perceptions of corruption    year  \n",
      "count                 149.000000   156.0  \n",
      "mean                    0.112859  2018.0  \n",
      "std                     0.098108     0.0  \n",
      "min                     0.000000  2018.0  \n",
      "25%                     0.050000  2018.0  \n",
      "50%                     0.082000  2018.0  \n",
      "75%                     0.138000  2018.0  \n",
      "max                     0.457000  2018.0  \n",
      "YEAR: 2019\n",
      "       Overall rank       Score  GDP per capita  Social support  \\\n",
      "count    156.000000  142.000000      153.000000      155.000000   \n",
      "mean      78.500000    5.434028        0.900758        1.208265   \n",
      "std       45.177428    1.109031        0.400770        0.300082   \n",
      "min        1.000000    2.853000        0.000000        0.000000   \n",
      "25%       39.750000    4.566000        0.578000        1.055500   \n",
      "50%       78.500000    5.405500        0.960000        1.269000   \n",
      "75%      117.250000    6.196500        1.237000        1.453000   \n",
      "max      156.000000    7.769000        1.684000        1.624000   \n",
      "\n",
      "       Healthy life expectancy  Freedom to make life choices  Generosity  \\\n",
      "count               142.000000                    145.000000  152.000000   \n",
      "mean                  0.722965                      0.395441    0.185092   \n",
      "std                   0.247263                      0.141704    0.094987   \n",
      "min                   0.000000                      0.000000    0.025000   \n",
      "25%                   0.541250                      0.309000    0.108750   \n",
      "50%                   0.785000                      0.418000    0.177000   \n",
      "75%                   0.889250                      0.507000    0.248250   \n",
      "max                   1.141000                      0.631000    0.566000   \n",
      "\n",
      "       Perceptions of corruption    year  \n",
      "count                 150.000000   156.0  \n",
      "mean                    0.109053  2019.0  \n",
      "std                     0.093279     0.0  \n",
      "min                     0.000000  2019.0  \n",
      "25%                     0.047750  2019.0  \n",
      "50%                     0.085000  2019.0  \n",
      "75%                     0.140250  2019.0  \n",
      "max                     0.453000  2019.0  \n"
     ]
    }
   ],
   "source": [
    "for year_ in wh.loc[ : , \"year\" ].drop_duplicates():\n",
    "    wh_year = wh.loc[ wh['year'] == year_ , : ]\n",
    "    \n",
    "    print( \"YEAR: {0}\".format(year_) )\n",
    "    \n",
    "    print( wh_year.describe() )\n",
    "    "
   ]
  },
  {
   "cell_type": "markdown",
   "id": "fec3987d-17f1-4553-a9c1-db67800b3cdb",
   "metadata": {},
   "source": [
    "3. partiendo de Wh, remplace los valores NaN de las columnas por su mean, el mean debe de ser calculado por año para ser mas exacto\n",
    "\n",
    "### resolucion ejercicio tres"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 93,
   "id": "582525e7-6888-448d-ac19-4cef31e3d30f",
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "Index(['Overall rank', 'Country or region', 'Score', 'GDP per capita',\n",
       "       'Social support', 'Healthy life expectancy',\n",
       "       'Freedom to make life choices', 'Generosity',\n",
       "       'Perceptions of corruption', 'year'],\n",
       "      dtype='object')"
      ]
     },
     "execution_count": 93,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "wh.columns"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 94,
   "id": "7df939b3-61c0-42ee-abcd-0c0217643047",
   "metadata": {},
   "outputs": [],
   "source": [
    "columns_to_use = ['Score', 'GDP per capita',\n",
    "       'Social support', 'Healthy life expectancy',\n",
    "       'Freedom to make life choices', 'Generosity',\n",
    "       'Perceptions of corruption']"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 95,
   "id": "a28b5bc7-b8b2-4d82-b669-51275100eb6a",
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "Working with: 2018\n",
      "Column: Score has an mean of 5.354059602649008\n",
      "Column: GDP per capita has an mean of 0.8927482993197281\n",
      "Column: Social support has an mean of 1.2059148936170214\n",
      "Column: Healthy life expectancy has an mean of 0.5975763888888888\n",
      "Column: Freedom to make life choices has an mean of 0.45651388888888866\n",
      "Column: Generosity has an mean of 0.1813597122302159\n",
      "Column: Perceptions of corruption has an mean of 0.11285906040268458\n",
      "Working with: 2019\n",
      "Column: Score has an mean of 5.434028169014085\n",
      "Column: GDP per capita has an mean of 0.9007581699346409\n",
      "Column: Social support has an mean of 1.208264516129032\n",
      "Column: Healthy life expectancy has an mean of 0.7229647887323947\n",
      "Column: Freedom to make life choices has an mean of 0.39544137931034484\n",
      "Column: Generosity has an mean of 0.18509210526315784\n",
      "Column: Perceptions of corruption has an mean of 0.10905333333333334\n"
     ]
    }
   ],
   "source": [
    "wh_limpio  = pd.DataFrame()\n",
    "for year_ in wh.loc[ : , \"year\" ].drop_duplicates():\n",
    "    wh_year = wh.loc[ wh['year'] == year_ , : ].copy()\n",
    "    print( \"Working with: {0}\".format(year_) )\n",
    "    for c_ in columns_to_use:        \n",
    "        mean_column = np.mean( wh_year.loc[ : , c_ ] )\n",
    "        print( \"Column: {0} has an mean of {1}\".format(c_,mean_column) )        \n",
    "        wh_year.loc[ np.isnan( wh_year[c_] ) , c_ ] = mean_column\n",
    "    \n",
    "    wh_limpio = pd.concat([ wh_limpio.copy() , wh_year.copy() ])"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 106,
   "id": "259cfecd-0e48-4127-b03a-038d46c6f830",
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>Overall rank</th>\n",
       "      <th>Country or region</th>\n",
       "      <th>Score</th>\n",
       "      <th>GDP per capita</th>\n",
       "      <th>Social support</th>\n",
       "      <th>Healthy life expectancy</th>\n",
       "      <th>Freedom to make life choices</th>\n",
       "      <th>Generosity</th>\n",
       "      <th>Perceptions of corruption</th>\n",
       "      <th>year</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ],
      "text/plain": [
       "Empty DataFrame\n",
       "Columns: [Overall rank, Country or region, Score, GDP per capita, Social support, Healthy life expectancy, Freedom to make life choices, Generosity, Perceptions of corruption, year]\n",
       "Index: []"
      ]
     },
     "execution_count": 106,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "wh_limpio.loc[ np.isnan( wh_limpio['Score'] ) , : ]"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 107,
   "id": "d48e9e53-51b1-46b0-89ab-1a8463448429",
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>Overall rank</th>\n",
       "      <th>Country or region</th>\n",
       "      <th>Score</th>\n",
       "      <th>GDP per capita</th>\n",
       "      <th>Social support</th>\n",
       "      <th>Healthy life expectancy</th>\n",
       "      <th>Freedom to make life choices</th>\n",
       "      <th>Generosity</th>\n",
       "      <th>Perceptions of corruption</th>\n",
       "      <th>year</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>5</th>\n",
       "      <td>6</td>\n",
       "      <td>Netherlands</td>\n",
       "      <td>NaN</td>\n",
       "      <td>1.361</td>\n",
       "      <td>1.488</td>\n",
       "      <td>0.878</td>\n",
       "      <td>0.638</td>\n",
       "      <td>0.333</td>\n",
       "      <td>0.295</td>\n",
       "      <td>2018</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>7</th>\n",
       "      <td>8</td>\n",
       "      <td>New Zealand</td>\n",
       "      <td>NaN</td>\n",
       "      <td>1.268</td>\n",
       "      <td>NaN</td>\n",
       "      <td>0.876</td>\n",
       "      <td>0.669</td>\n",
       "      <td>0.365</td>\n",
       "      <td>0.389</td>\n",
       "      <td>2018</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>52</th>\n",
       "      <td>53</td>\n",
       "      <td>Latvia</td>\n",
       "      <td>NaN</td>\n",
       "      <td>1.148</td>\n",
       "      <td>1.454</td>\n",
       "      <td>0.671</td>\n",
       "      <td>0.363</td>\n",
       "      <td>0.092</td>\n",
       "      <td>0.066</td>\n",
       "      <td>2018</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>89</th>\n",
       "      <td>90</td>\n",
       "      <td>Jordan</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>1.265</td>\n",
       "      <td>0.645</td>\n",
       "      <td>0.468</td>\n",
       "      <td>0.130</td>\n",
       "      <td>0.134</td>\n",
       "      <td>2018</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>128</th>\n",
       "      <td>129</td>\n",
       "      <td>Armenia</td>\n",
       "      <td>NaN</td>\n",
       "      <td>0.816</td>\n",
       "      <td>0.990</td>\n",
       "      <td>0.666</td>\n",
       "      <td>0.260</td>\n",
       "      <td>0.077</td>\n",
       "      <td>0.028</td>\n",
       "      <td>2018</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>11</th>\n",
       "      <td>12</td>\n",
       "      <td>Costa Rica</td>\n",
       "      <td>NaN</td>\n",
       "      <td>1.034</td>\n",
       "      <td>1.441</td>\n",
       "      <td>0.963</td>\n",
       "      <td>0.558</td>\n",
       "      <td>0.144</td>\n",
       "      <td>0.093</td>\n",
       "      <td>2019</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>12</th>\n",
       "      <td>13</td>\n",
       "      <td>Israel</td>\n",
       "      <td>NaN</td>\n",
       "      <td>1.276</td>\n",
       "      <td>1.455</td>\n",
       "      <td>1.029</td>\n",
       "      <td>0.371</td>\n",
       "      <td>0.261</td>\n",
       "      <td>0.082</td>\n",
       "      <td>2019</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>42</th>\n",
       "      <td>43</td>\n",
       "      <td>Colombia</td>\n",
       "      <td>NaN</td>\n",
       "      <td>0.985</td>\n",
       "      <td>1.410</td>\n",
       "      <td>0.841</td>\n",
       "      <td>0.470</td>\n",
       "      <td>0.099</td>\n",
       "      <td>0.034</td>\n",
       "      <td>2019</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>53</th>\n",
       "      <td>54</td>\n",
       "      <td>South Korea</td>\n",
       "      <td>NaN</td>\n",
       "      <td>1.301</td>\n",
       "      <td>1.219</td>\n",
       "      <td>1.036</td>\n",
       "      <td>0.159</td>\n",
       "      <td>0.175</td>\n",
       "      <td>0.056</td>\n",
       "      <td>2019</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>66</th>\n",
       "      <td>67</td>\n",
       "      <td>Pakistan</td>\n",
       "      <td>NaN</td>\n",
       "      <td>0.677</td>\n",
       "      <td>0.886</td>\n",
       "      <td>0.535</td>\n",
       "      <td>0.313</td>\n",
       "      <td>0.220</td>\n",
       "      <td>0.098</td>\n",
       "      <td>2019</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>71</th>\n",
       "      <td>72</td>\n",
       "      <td>Libya</td>\n",
       "      <td>NaN</td>\n",
       "      <td>1.044</td>\n",
       "      <td>1.303</td>\n",
       "      <td>0.673</td>\n",
       "      <td>0.416</td>\n",
       "      <td>0.133</td>\n",
       "      <td>0.152</td>\n",
       "      <td>2019</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>100</th>\n",
       "      <td>101</td>\n",
       "      <td>Jordan</td>\n",
       "      <td>NaN</td>\n",
       "      <td>0.837</td>\n",
       "      <td>1.225</td>\n",
       "      <td>0.815</td>\n",
       "      <td>0.383</td>\n",
       "      <td>0.110</td>\n",
       "      <td>0.130</td>\n",
       "      <td>2019</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>104</th>\n",
       "      <td>105</td>\n",
       "      <td>Laos</td>\n",
       "      <td>NaN</td>\n",
       "      <td>0.764</td>\n",
       "      <td>1.030</td>\n",
       "      <td>0.551</td>\n",
       "      <td>0.547</td>\n",
       "      <td>0.266</td>\n",
       "      <td>0.164</td>\n",
       "      <td>2019</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>113</th>\n",
       "      <td>114</td>\n",
       "      <td>Niger</td>\n",
       "      <td>NaN</td>\n",
       "      <td>0.138</td>\n",
       "      <td>0.774</td>\n",
       "      <td>0.366</td>\n",
       "      <td>0.318</td>\n",
       "      <td>0.188</td>\n",
       "      <td>0.102</td>\n",
       "      <td>2019</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>127</th>\n",
       "      <td>128</td>\n",
       "      <td>Mali</td>\n",
       "      <td>NaN</td>\n",
       "      <td>0.385</td>\n",
       "      <td>1.105</td>\n",
       "      <td>0.308</td>\n",
       "      <td>0.327</td>\n",
       "      <td>0.153</td>\n",
       "      <td>0.052</td>\n",
       "      <td>2019</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>135</th>\n",
       "      <td>136</td>\n",
       "      <td>Uganda</td>\n",
       "      <td>NaN</td>\n",
       "      <td>0.332</td>\n",
       "      <td>1.069</td>\n",
       "      <td>0.443</td>\n",
       "      <td>0.356</td>\n",
       "      <td>0.252</td>\n",
       "      <td>0.060</td>\n",
       "      <td>2019</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>137</th>\n",
       "      <td>138</td>\n",
       "      <td>Zambia</td>\n",
       "      <td>NaN</td>\n",
       "      <td>0.578</td>\n",
       "      <td>1.058</td>\n",
       "      <td>0.426</td>\n",
       "      <td>0.431</td>\n",
       "      <td>0.247</td>\n",
       "      <td>NaN</td>\n",
       "      <td>2019</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>140</th>\n",
       "      <td>141</td>\n",
       "      <td>Liberia</td>\n",
       "      <td>NaN</td>\n",
       "      <td>0.073</td>\n",
       "      <td>0.922</td>\n",
       "      <td>0.443</td>\n",
       "      <td>NaN</td>\n",
       "      <td>0.233</td>\n",
       "      <td>0.033</td>\n",
       "      <td>2019</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>150</th>\n",
       "      <td>151</td>\n",
       "      <td>Yemen</td>\n",
       "      <td>NaN</td>\n",
       "      <td>0.287</td>\n",
       "      <td>1.163</td>\n",
       "      <td>0.463</td>\n",
       "      <td>0.143</td>\n",
       "      <td>0.108</td>\n",
       "      <td>0.077</td>\n",
       "      <td>2019</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ],
      "text/plain": [
       "     Overall rank Country or region  Score  GDP per capita  Social support  \\\n",
       "5               6       Netherlands    NaN           1.361           1.488   \n",
       "7               8       New Zealand    NaN           1.268             NaN   \n",
       "52             53            Latvia    NaN           1.148           1.454   \n",
       "89             90            Jordan    NaN             NaN           1.265   \n",
       "128           129           Armenia    NaN           0.816           0.990   \n",
       "11             12        Costa Rica    NaN           1.034           1.441   \n",
       "12             13            Israel    NaN           1.276           1.455   \n",
       "42             43          Colombia    NaN           0.985           1.410   \n",
       "53             54       South Korea    NaN           1.301           1.219   \n",
       "66             67          Pakistan    NaN           0.677           0.886   \n",
       "71             72             Libya    NaN           1.044           1.303   \n",
       "100           101            Jordan    NaN           0.837           1.225   \n",
       "104           105              Laos    NaN           0.764           1.030   \n",
       "113           114             Niger    NaN           0.138           0.774   \n",
       "127           128              Mali    NaN           0.385           1.105   \n",
       "135           136            Uganda    NaN           0.332           1.069   \n",
       "137           138            Zambia    NaN           0.578           1.058   \n",
       "140           141           Liberia    NaN           0.073           0.922   \n",
       "150           151             Yemen    NaN           0.287           1.163   \n",
       "\n",
       "     Healthy life expectancy  Freedom to make life choices  Generosity  \\\n",
       "5                      0.878                         0.638       0.333   \n",
       "7                      0.876                         0.669       0.365   \n",
       "52                     0.671                         0.363       0.092   \n",
       "89                     0.645                         0.468       0.130   \n",
       "128                    0.666                         0.260       0.077   \n",
       "11                     0.963                         0.558       0.144   \n",
       "12                     1.029                         0.371       0.261   \n",
       "42                     0.841                         0.470       0.099   \n",
       "53                     1.036                         0.159       0.175   \n",
       "66                     0.535                         0.313       0.220   \n",
       "71                     0.673                         0.416       0.133   \n",
       "100                    0.815                         0.383       0.110   \n",
       "104                    0.551                         0.547       0.266   \n",
       "113                    0.366                         0.318       0.188   \n",
       "127                    0.308                         0.327       0.153   \n",
       "135                    0.443                         0.356       0.252   \n",
       "137                    0.426                         0.431       0.247   \n",
       "140                    0.443                           NaN       0.233   \n",
       "150                    0.463                         0.143       0.108   \n",
       "\n",
       "     Perceptions of corruption  year  \n",
       "5                        0.295  2018  \n",
       "7                        0.389  2018  \n",
       "52                       0.066  2018  \n",
       "89                       0.134  2018  \n",
       "128                      0.028  2018  \n",
       "11                       0.093  2019  \n",
       "12                       0.082  2019  \n",
       "42                       0.034  2019  \n",
       "53                       0.056  2019  \n",
       "66                       0.098  2019  \n",
       "71                       0.152  2019  \n",
       "100                      0.130  2019  \n",
       "104                      0.164  2019  \n",
       "113                      0.102  2019  \n",
       "127                      0.052  2019  \n",
       "135                      0.060  2019  \n",
       "137                        NaN  2019  \n",
       "140                      0.033  2019  \n",
       "150                      0.077  2019  "
      ]
     },
     "execution_count": 107,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "wh.loc[ np.isnan( wh['Score'] ) , : ]"
   ]
  },
  {
   "cell_type": "markdown",
   "id": "8259629a-e170-4783-8935-b20bbb261d10",
   "metadata": {},
   "source": [
    "4. Partiendo de Wh limpio, para cada metrica por pais, muestra la diferencia del ultimo valor encontrado contra el primero. "
   ]
  },
  {
   "cell_type": "markdown",
   "id": "baee1d13-6755-443f-8961-d53b44a9dca8",
   "metadata": {},
   "source": [
    "Ejemplo:"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 62,
   "id": "9c197bcd-8603-426c-a4ce-4ddab6e50d49",
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>Overall rank</th>\n",
       "      <th>Country or region</th>\n",
       "      <th>Score</th>\n",
       "      <th>GDP per capita</th>\n",
       "      <th>Social support</th>\n",
       "      <th>Healthy life expectancy</th>\n",
       "      <th>Freedom to make life choices</th>\n",
       "      <th>Generosity</th>\n",
       "      <th>Perceptions of corruption</th>\n",
       "      <th>year</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>4</th>\n",
       "      <td>5</td>\n",
       "      <td>Switzerland</td>\n",
       "      <td>7.487</td>\n",
       "      <td>1.420</td>\n",
       "      <td>1.549</td>\n",
       "      <td>0.927</td>\n",
       "      <td>0.660</td>\n",
       "      <td>0.256</td>\n",
       "      <td>0.357</td>\n",
       "      <td>2018</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>5</th>\n",
       "      <td>6</td>\n",
       "      <td>Switzerland</td>\n",
       "      <td>7.480</td>\n",
       "      <td>1.452</td>\n",
       "      <td>1.526</td>\n",
       "      <td>1.052</td>\n",
       "      <td>0.572</td>\n",
       "      <td>0.263</td>\n",
       "      <td>0.343</td>\n",
       "      <td>2019</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ],
      "text/plain": [
       "   Overall rank Country or region  Score  GDP per capita  Social support  \\\n",
       "4             5       Switzerland  7.487           1.420           1.549   \n",
       "5             6       Switzerland  7.480           1.452           1.526   \n",
       "\n",
       "   Healthy life expectancy  Freedom to make life choices  Generosity  \\\n",
       "4                    0.927                         0.660       0.256   \n",
       "5                    1.052                         0.572       0.263   \n",
       "\n",
       "   Perceptions of corruption  year  \n",
       "4                      0.357  2018  \n",
       "5                      0.343  2019  "
      ]
     },
     "execution_count": 62,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "wh.loc[ wh['Country or region'] == 'Switzerland' , : ]"
   ]
  },
  {
   "cell_type": "markdown",
   "id": "8a322dc9-ee13-403f-b6b0-e0be59e19cad",
   "metadata": {},
   "source": [
    "Como se puede observar para Switzerland en Score la diferencia seria 7.480 - 7.487\n",
    "\n",
    "Claramente en su solucion la columna año se debera de eliminar\n",
    "\n",
    "### resolucion ejercicio cuatro"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 105,
   "id": "ef322539-fa6f-4675-a97e-efda7b81f1a3",
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>x</th>\n",
       "      <th>y</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>-9</td>\n",
       "      <td>-74</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1</th>\n",
       "      <td>-14</td>\n",
       "      <td>-14</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ],
      "text/plain": [
       "    x   y\n",
       "0  -9 -74\n",
       "1 -14 -14"
      ]
     },
     "execution_count": 105,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "pd.DataFrame( {\"x\":[1,2],\"y\":[3,4]} ) - pd.DataFrame( {\"x\":[10,16],\"y\":[77,18]} )"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 172,
   "id": "25f28047-5b37-4b04-a43b-6ef52497952a",
   "metadata": {},
   "outputs": [],
   "source": [
    "x = wh_limpio.sort_values([\"Country or region\",\"year\"] , ascending = False )\n",
    "x[\"rank\"] = x.groupby([\"Country or region\"])[\"year\"].rank( method = 'first' , ascending = False )\n",
    "x = x.loc[ x[\"rank\"] == 1.0 , : ].reset_index(drop=True)"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 173,
   "id": "6afd701b-a082-49ba-abb1-2dad617ed2ae",
   "metadata": {},
   "outputs": [],
   "source": [
    "y = wh_limpio.sort_values([\"Country or region\",\"year\"] , ascending = True )\n",
    "y[\"rank\"] = y.groupby([\"Country or region\"])[\"year\"].rank( method = 'first' , ascending = True )\n",
    "y = y.loc[ y[\"rank\"] == 1.0 , : ].sort_values([\"Country or region\"] , ascending = False ).reset_index(drop=True)"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 174,
   "id": "8fb888ee-7c76-4dbd-a81c-dbb5c25d29a7",
   "metadata": {},
   "outputs": [],
   "source": [
    "x.index = x['Country or region']\n",
    "y.index = x['Country or region']"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 175,
   "id": "ec80ad4e-144b-4214-961a-a3e974d9ece4",
   "metadata": {},
   "outputs": [],
   "source": [
    "x = x.drop(['Country or region','year','rank'] ,axis = 1)\n",
    "y = y.drop(['Country or region','year','rank'] ,axis = 1)"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 176,
   "id": "e04ba8a6-21ef-4df4-b9d6-c59cd1e5bb60",
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>Overall rank</th>\n",
       "      <th>Score</th>\n",
       "      <th>GDP per capita</th>\n",
       "      <th>Social support</th>\n",
       "      <th>Healthy life expectancy</th>\n",
       "      <th>Freedom to make life choices</th>\n",
       "      <th>Generosity</th>\n",
       "      <th>Perceptions of corruption</th>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>Country or region</th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>Zimbabwe</th>\n",
       "      <td>2</td>\n",
       "      <td>-0.029000</td>\n",
       "      <td>0.009</td>\n",
       "      <td>0.020</td>\n",
       "      <td>0.474965</td>\n",
       "      <td>-0.045</td>\n",
       "      <td>0.019</td>\n",
       "      <td>-0.010000</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>Zambia</th>\n",
       "      <td>13</td>\n",
       "      <td>1.057028</td>\n",
       "      <td>0.016</td>\n",
       "      <td>0.011</td>\n",
       "      <td>0.131000</td>\n",
       "      <td>-0.072</td>\n",
       "      <td>0.026</td>\n",
       "      <td>0.027053</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>Yemen</th>\n",
       "      <td>-1</td>\n",
       "      <td>2.079028</td>\n",
       "      <td>-0.155</td>\n",
       "      <td>0.090</td>\n",
       "      <td>0.120000</td>\n",
       "      <td>-0.101</td>\n",
       "      <td>0.025</td>\n",
       "      <td>-0.035859</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>Vietnam</th>\n",
       "      <td>-1</td>\n",
       "      <td>0.072000</td>\n",
       "      <td>0.026</td>\n",
       "      <td>-0.019</td>\n",
       "      <td>0.149000</td>\n",
       "      <td>-0.075</td>\n",
       "      <td>-0.030</td>\n",
       "      <td>-0.006000</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>Venezuela</th>\n",
       "      <td>6</td>\n",
       "      <td>-0.099000</td>\n",
       "      <td>-0.036</td>\n",
       "      <td>-0.042</td>\n",
       "      <td>0.148000</td>\n",
       "      <td>0.021</td>\n",
       "      <td>0.008</td>\n",
       "      <td>-0.005000</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>...</th>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>Argentina</th>\n",
       "      <td>18</td>\n",
       "      <td>-0.302000</td>\n",
       "      <td>0.019</td>\n",
       "      <td>-0.036</td>\n",
       "      <td>0.137000</td>\n",
       "      <td>-0.099</td>\n",
       "      <td>0.004</td>\n",
       "      <td>-0.062859</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>Angola</th>\n",
       "      <td>0</td>\n",
       "      <td>0.000000</td>\n",
       "      <td>0.000</td>\n",
       "      <td>0.000</td>\n",
       "      <td>0.000000</td>\n",
       "      <td>0.000</td>\n",
       "      <td>0.000</td>\n",
       "      <td>0.000000</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>Algeria</th>\n",
       "      <td>4</td>\n",
       "      <td>-0.084000</td>\n",
       "      <td>0.023</td>\n",
       "      <td>0.006</td>\n",
       "      <td>0.098000</td>\n",
       "      <td>0.009</td>\n",
       "      <td>0.018</td>\n",
       "      <td>-0.021000</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>Albania</th>\n",
       "      <td>-5</td>\n",
       "      <td>0.133000</td>\n",
       "      <td>0.031</td>\n",
       "      <td>0.031</td>\n",
       "      <td>0.084000</td>\n",
       "      <td>-0.036</td>\n",
       "      <td>0.029</td>\n",
       "      <td>-0.005000</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>Afghanistan</th>\n",
       "      <td>9</td>\n",
       "      <td>-0.429000</td>\n",
       "      <td>0.018</td>\n",
       "      <td>-0.020</td>\n",
       "      <td>0.106000</td>\n",
       "      <td>-0.085</td>\n",
       "      <td>-0.033</td>\n",
       "      <td>-0.011000</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "<p>160 rows × 8 columns</p>\n",
       "</div>"
      ],
      "text/plain": [
       "                   Overall rank     Score  GDP per capita  Social support  \\\n",
       "Country or region                                                           \n",
       "Zimbabwe                      2 -0.029000           0.009           0.020   \n",
       "Zambia                       13  1.057028           0.016           0.011   \n",
       "Yemen                        -1  2.079028          -0.155           0.090   \n",
       "Vietnam                      -1  0.072000           0.026          -0.019   \n",
       "Venezuela                     6 -0.099000          -0.036          -0.042   \n",
       "...                         ...       ...             ...             ...   \n",
       "Argentina                    18 -0.302000           0.019          -0.036   \n",
       "Angola                        0  0.000000           0.000           0.000   \n",
       "Algeria                       4 -0.084000           0.023           0.006   \n",
       "Albania                      -5  0.133000           0.031           0.031   \n",
       "Afghanistan                   9 -0.429000           0.018          -0.020   \n",
       "\n",
       "                   Healthy life expectancy  Freedom to make life choices  \\\n",
       "Country or region                                                          \n",
       "Zimbabwe                          0.474965                        -0.045   \n",
       "Zambia                            0.131000                        -0.072   \n",
       "Yemen                             0.120000                        -0.101   \n",
       "Vietnam                           0.149000                        -0.075   \n",
       "Venezuela                         0.148000                         0.021   \n",
       "...                                    ...                           ...   \n",
       "Argentina                         0.137000                        -0.099   \n",
       "Angola                            0.000000                         0.000   \n",
       "Algeria                           0.098000                         0.009   \n",
       "Albania                           0.084000                        -0.036   \n",
       "Afghanistan                       0.106000                        -0.085   \n",
       "\n",
       "                   Generosity  Perceptions of corruption  \n",
       "Country or region                                         \n",
       "Zimbabwe                0.019                  -0.010000  \n",
       "Zambia                  0.026                   0.027053  \n",
       "Yemen                   0.025                  -0.035859  \n",
       "Vietnam                -0.030                  -0.006000  \n",
       "Venezuela               0.008                  -0.005000  \n",
       "...                       ...                        ...  \n",
       "Argentina               0.004                  -0.062859  \n",
       "Angola                  0.000                   0.000000  \n",
       "Algeria                 0.018                  -0.021000  \n",
       "Albania                 0.029                  -0.005000  \n",
       "Afghanistan            -0.033                  -0.011000  \n",
       "\n",
       "[160 rows x 8 columns]"
      ]
     },
     "execution_count": 176,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "x - y"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": null,
   "id": "9fdea558-65bc-4ded-a171-6ada238ddab5",
   "metadata": {},
   "outputs": [],
   "source": []
  }
 ],
 "metadata": {
  "kernelspec": {
   "display_name": "Python 3",
   "language": "python",
   "name": "python3"
  },
  "language_info": {
   "codemirror_mode": {
    "name": "ipython",
    "version": 3
   },
   "file_extension": ".py",
   "mimetype": "text/x-python",
   "name": "python",
   "nbconvert_exporter": "python",
   "pygments_lexer": "ipython3",
   "version": "3.8.8"
  }
 },
 "nbformat": 4,
 "nbformat_minor": 5
}